button {
    width: 100px;
    height: 100px;
    background-color: white;
    border:none;
    font-size: 24px;
    margin: 4px;
    padding:0.1rem;
    outline:none;
}

button:focus {
    outline: none;
}

.right-line{
    border-right: 3px solid black;
}

.bottom-line{
    border-bottom: 3px solid black;
}


#target{
    margin: 0 auto;
    margin-top: 6rem;
}






.mybtn {
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ↓だけだと、マスのX or Oを確定させた後もグレーになっちゃうから、何か方法を模索する */
.custom-hover:hover {
    color: rgba(153, 150, 150, 0.7) !important
}

.game-end-screen {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);  /*透明度はopacityで変えられるが、opacityは子要素にも適用されるので、rgbaのほうがいい*/
    position: absolute;
}

.end-button {
    height: 60px;
    width: 180px;
    text-align: center;
    font-size: 30px;
    background-color: white;
    color: black;
}

.end-button:hover {
    background: black;
    color: white;
    border: 2px solid white;
}

.end-screen-font {
    font-size: 80px;
    color: white;
}

