button {
    width: 100px;
    height: 100px;
    background-color: white;
    border:none;
    font-size: 24px;
    margin: 4px;
    padding:0.1rem;
    outline:none;
}

button:focus {
    outline: none;
}

.right-line{
    border-right: 3px solid black;
}

.bottom-line{
    border-bottom: 3px solid black;
}


#target{
    margin: 0 auto;
    margin-top: 6rem;
}


.mybtn {
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ↓だけだと、マスのX or Oを確定させた後もグレーになっちゃうから、何か方法を模索する */
.custom-hover:hover {
    color: rgba(153, 150, 150, 0.7) !important
}